# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
*.sqlite3
*.db

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlruns.db

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
