[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
lightgbm = "*"
yfinance = "*"
investpy = "*"
prefect = "*"
mlflow = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
